#about-me {
    margin: 50px 0;
    padding: 20px 0;
}

.am-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    margin-top: 50px;
}

.am-photo {
    width: 50%;
    display: flex;
    align-items: center;
}

.hexagon-border-1 {
    width: 410px;
    height: 410px;
    background: #fff;
    clip-path: polygon(50% 0%, 93.3% 25%, 93.3% 75%, 50% 100%, 6.7% 75%, 6.7% 25%);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 6px 32px rgba(0, 0, 0, 0.3);
}

.hexagon-border {
    overflow: visible;
    content: "";
    width: 420px;
    height: 420px;
    background: #a1a0bd;
    clip-path: polygon(50% 0%, 93.3% 25%, 93.3% 75%, 50% 100%, 6.7% 75%, 6.7% 25%);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 12px 32px rgba(0, 0, 0, 0.3);
}

.hexagon-frame-1 {
    width: 400px;
    height: 400px;
    background: linear-gradient(to left, #4c11d6 0%, #5e0ced 100%);
    clip-path: polygon(50% 0%, 93.3% 25%, 93.3% 75%, 50% 100%, 6.7% 75%, 6.7% 25%);
    position: relative;
    padding: 4px;
}

.hexagon-frame-1 img {
    position: relative;
    z-index: 50;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    clip-path: polygon(50% 0%,
            /* centro in alto */
            93.3% 25%,
            /* alto a destra */
            93.3% 75%,
            /* basso a destra */
            50% 100%,
            /* centro in basso */
            6.7% 75%,
            /* basso a sinistra */
            6.7% 25%
            /* alto a sinistra */
        );
}

.am-content {
    width: 50%;
}

.title-section {
    display: none;
}

.title-section-desktop {
    display: block;
}

.align-right {
    text-align: end;
}

.am-title {
    background: radial-gradient(circle at center, #5e0ced 0%, #4c11d6 100%);
    display: inline-block;
    padding: 1rem 1rem;
    margin-bottom: 40px;
    font-size: 1.8rem;
    width: 70%;
    text-align: center;
    font-weight: bold;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom: 3px solid #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.align-right p {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 1.1rem;
    line-height: 1.8;
    margin-bottom: 20px;
    font-weight: 300;
}

.tag-section-desktop {
    display: block;
}

.tag-section {
    display: none;
}

.am-tab {
    display: flex;
    align-items: end;
    flex-direction: column;
    width: 100%;
}

.am-tag {
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #000;
    border-bottom: 5px solid #b3b3b3;
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 4px 20px;
    margin: 10px 0;
    border-radius: 50px;
}


/* RESPONSIVE    */
@media screen and (max-width: 1024px) {
    .am-container {
        display: flex;
        flex-direction: column;
    }

    .am-photo {
        width: 100%;
        order: 1;
        justify-content: center;
        margin-bottom: 10px;
    }

    .title-section {
        display: block;
        text-align: center;
        order: 0;
    }

    .am-title {
        display: inline-block;
        border-radius: 50px;
    }

    .title-section-desktop {
        display: none;
    }

    .text-section {
        order: 3;
    }

    .am-content {
        width: 100%;
    }

    .align-right {
        text-align: center;
    }

    .tag-section-desktop {
        display: none;
    }

    .tag-section {
        display: block;
        order: 2;
        margin-bottom: 30px;
    }

    .am-tab {
        justify-content: center;
        flex-direction: row;
    }

    .am-tag {
        margin: 10px 10px;
    }
}

@media screen and (max-width: 625px) {
    .hexagon-border-1 {
        width: 350px;
        height: 350px;
    }

    .hexagon-border {
        width: 360px;
        height: 360px;
    }

    .hexagon-frame-1 {
        width: 340px;
        height: 340px;
    }

    .am-tab {
        align-items: center;
        flex-direction: column;
    }

    .am-tag {
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 425px) {
    .am-title {
        padding: 0.8rem 0.8rem;
        font-size: 1.6rem;
    }

    .hexagon-border-1 {
        width: 260px;
        height: 260px;
    }

    .hexagon-border {
        width: 270px;
        height: 270px;
    }

    .hexagon-frame-1 {
        width: 250px;
        height: 250px;
    }
}