@import './carousel.css';
@import './carousel_img.css';

.card {
    width: calc((100% - 40px)/ 3);
    padding: 5px;
    background: radial-gradient(circle at center, #5e0ced 0%, #4c11d6 100%);
    border-radius: 20px;
}

.tag-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    min-height: 85px;
}

.load-more {
    cursor: pointer;
    transition: ease-in-out 0.2s;
}

.load-more:hover {
    color: #000;
    transition: ease-in-out 0.2s;
}

.down-body {
    display: flex;
    margin: 10px 0;
    height: 50px;
    align-items: center;
    justify-content: space-around;
}

.down-body h3 {
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.card-btn {
    display: flex;
    height: fit-content;
    text-decoration: none;
    justify-content: center;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 50px;
    background-color: #fff;
    border-bottom: 5px solid #b3b3b3;
    color: #000;
}

/* CARD V2 */
.title-part {
    display: flex;
    margin: 10px 0;
    height: 50px;
    align-items: center;
    justify-content: start;
}

.title-part :nth-child(n) {
    margin: 0 10px;
}

.middle-part {
    margin: 20px 15px;
}

.end-part {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.end-part :nth-child(n) {
    margin: 0 10px;
}

.modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.95);
}

.modal {
    width: 85%;
    max-height: 100vh;
    background: radial-gradient(circle at center, #5e0ced 0%, #4c11d6 100%);
    color: #fff;
    border-radius: 20px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #fff;
}

.cross-button {
    background-color: #fff;
    border: none;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    transition: background-color 0.2s ease;
    z-index: 10;
}

.card-button {
    display: flex;
    justify-content: center;
    padding: 1rem 1rem;
    font-size: 0.8rem;
    width: 45%;
    font-weight: bold;
    color: blue;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    background-color: #fff;
}

.card-button:hover {
    transform: translateY(-2px);
    background-color: #d0d3d6;
}

.cross-button:hover {
    background-color: #d0d3d6;
}

/* CONTENT E SCROLLBAR */
.modal-content {
    padding: 20px;
    height: 400px;
    overflow: auto;
}

/* Firefox */
.modal-content {
    scrollbar-width: thin;
    scrollbar-color: #9aa4b2 #e9ecf1;
}

/* Chromium/WebKit */
.modal-content::-webkit-scrollbar {
    width: 10px;
    /* spessore barra */
}

.modal-content::-webkit-scrollbar-track {
    background: #e9ecf1;
    /* traccia */
    border-radius: 8px;
}

.modal-content::-webkit-scrollbar-thumb {
    background: #9aa4b2;
    /* pollice */
    border-radius: 8px;
    border: 2px solid #e9ecf1;
    /* bordo per creare “spazio” visivo */
}

.modal-content::-webkit-scrollbar-thumb:hover {
    background: #7e8896;
}

@media screen and (max-width: 1024px) {
    .card {
        width: calc((100% - 20px)/ 2);
        padding: 5px;
        background: radial-gradient(circle at center, #5e0ced 0%, #4c11d6 100%);
        border-radius: 20px;
    }
}

@media screen and (max-width: 768px) {
    .down-body img {
        display: none;
    }
}

@media screen and (max-width: 425px) {
    .modal-header img {
        display: none;
    }

    .modal-header h2 {
        padding: 0;
    }

    .card {
        width: calc((100% - 20px)/ 1);
        padding: 5px;
        background: radial-gradient(circle at center, #5e0ced 0%, #4c11d6 100%);
        border-radius: 20px;
    }

    .card-button {
        width: 80%;
    }

    .end-part {
        align-items: center;
        flex-direction: column;
    }

    .end-part :nth-child(n) {
        margin: 5px 0;
    }
}