@import './carousel.css';

.card {
    width: calc((100% - 20px)/ 3);
    /* height: 680px; */
    padding: 5px;
    background: radial-gradient(circle at center, #5e0ced 0%, #4c11d6 100%);
    border-radius: 20px;
}

.tag-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    min-height: 85px;
}

.load-more {
    cursor: pointer;
    transition: ease-in-out 0.2s;
}

.load-more:hover {
    color: #000;
    transition: ease-in-out 0.2s;
}

.down-body {
    display: flex;
    margin: 10px 0;
    height: 50px;
    align-items: center;
    justify-content: space-around;
}

.down-body h3 {
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.card-btn {
    display: flex;
    height: fit-content;
    text-decoration: none;
    justify-content: center;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 50px;
    background-color: #fff;
    border-bottom: 5px solid #b3b3b3;
    color: #000;
}

/* CARD V2 */
.title-part {
    display: flex;
    margin: 10px 0;
    height: 50px;
    align-items: center;
    justify-content: start;
}

.title-part :nth-child(n) {
    margin: 0 10px;
}

.middle-part {
    margin: 20px 15px;
}

.end-part {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.end-part :nth-child(n) {
    margin: 0 10px;
}

.modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal {
    width: 85%;
    max-height: 100vh;
    background: radial-gradient(circle at center, #5e0ced 0%, #4c11d6 100%);
    color: #fff;
    border-radius: 20px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #fff;
}

.modal-content {
    padding: 20px;
}

@media screen and (max-width: 1024px) {
    .card {
        width: calc((100% - 20px)/ 2);
        padding: 5px;
        background: radial-gradient(circle at center, #5e0ced 0%, #4c11d6 100%);
        border-radius: 20px;
    }
}

@media screen and (max-width: 768px) {
    .down-body img {
        display: none;
    }
}

@media screen and (max-width: 425px) {
    .card {
        width: calc((100% - 20px)/ 1);
        padding: 5px;
        background: radial-gradient(circle at center, #5e0ced 0%, #4c11d6 100%);
        border-radius: 20px;
    }
}