@import './form_contact.css';

#contacts-area {
    margin: 100px 0;
    padding: 20px 0;
}

.cont-area {
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
}

.cont-content {
    display: flex;
    flex-direction: column;
}

.tag-info {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.inv-card {
    width: calc(100% / 4);
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cont-icon {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inv-card .cont-content {
    height: 50px;
    justify-content: center;
    align-items: center;
}

.svg-inline--fa {
    width: 40px;
    height: 25px;
}

i {
    font-size: 24px;
    color: blue;
}

a {
    overflow-wrap: break-word;
    transition: 0.2s ease-in-out;
}

.tag-info a:hover {
    color: blue;
    transition: 0.2s ease-in-out;
}

.cont-form {
    width: 80%;
    margin: 0 auto;
}

.header {
    text-align: center;
}

.header h3 {
    display: inline-block;
    padding: 0.8rem;
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.header p {
    font-size: 1rem;
    letter-spacing: 1px;
    text-emphasis: none;
}

.form-content {
    width: 100%;
}

@media screen and (max-width: 1024px) {
    .inv-card {
        width: calc(100% / 2);
    }
}

@media screen and (max-width: 625px) {
    .inv-card {
        width: calc(100% / 1);
        height: 150px;
    }
}