form {
    width: 80%;
    margin: 0 auto;
}

.user-data {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 0;
}

.primi {
    width: calc((100% - 20px) / 2);
    margin: 5px 0;
}

.user-data label,
.mess-area label {
    display: block;
    font-style: italic;
    padding: 10px 10px;
}

.policy-area {
    padding: 10px 10px;
}

.policy-area a {
    font-style: italic;
}

.policy-area a:hover {
    text-decoration: underline;
}

.user-data input,
.mess-area textarea {
    background-color: #ffffff;
    color: #0000ff;
    width: 100%;
    border-radius: 20px;
    padding: 10px 10px;
}

.mess-area textarea {
    min-height: fit-content;
}

.form-button {
    width: 100%;
    margin: 10px 0;
}

.error,
.success {
    text-transform: uppercase;
    padding: 4px 10px;
}

.notify {
    margin: 20px 0 0;
    font-size: 0.8rem;
    font-style: italic;
    text-align: center;
}

.error {
    color: #ff0000;
}

.success {
    color: #ffffff;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .primi {
        width: 100%;
    }
}