/* HEADER */
#side-menu {
  background-color: rgba(0, 0, 0, 0.95);
  color: #ffff;
}

.visibility {
  visibility: visible;
}

.visibility-0 {
  visibility: hidden;
}

header {
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: 'all 0.3s ease-in-out';
}