/* HEADER */
.link-hover {
  transition: 0.5s ease-in-out;
}

.link-hover:hover {
  text-shadow: 0 0 20px #fff;
  transform: scale(1.3);
}

#side-menu {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8));
}